{% extends "base.html" %}
{% import "macros/macro_modal.html" as modals %}
{% import "macros/macro_table.html" as table %}

{% block head %}
    {{ table.table_import_head() }}
{% endblock %}

{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}

{% block content %}

    <div class="container">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{{ url_for('home.home_view') }}">Home</a></li>
              <li class="breadcrumb-item"><a href="{{ url_for('admin.admin_view') }}">Admin</a></li>
              <li class="breadcrumb-item active" aria-current="page">Tags</li>
            </ol>
        </nav>

        <h3>{% block title %} Tags List {% endblock %}</h3>

        <!-- <div class="row mt-3">
            {% for role in user_roles %}
                <div class="col-sm-3">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h3 class="card-title">{{ role.name }}</h3>
                            <p>Total users: {{ role.users|length }}</p>
                            <a href="{{url_for('admin.roles.view_role', id=role.id)}}" class="btn btn-primary">{{ _("View") }}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div> -->

        <div class="card mt-3 shadow-sm">
            <div class="card-body">
                <table id="data" class="table dt-responsive nowrap" style="width:100%">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Created date</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {{ modals.confirm_delete_tag() }}

{% endblock %}


{% block scripts %}

  {{ table.table_import_scripts() }}

  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        ajax: '/admin/tags/get_data',
        serverSide: true,
        responsive: {
            details: {
                display: $.fn.dataTable.Responsive.display.modal( {
                    header: function ( row ) {
                        var data = row.data();
                        return 'Tag detail: '+data.name;
                    }
                } ),
                renderer: $.fn.dataTable.Responsive.renderer.tableAll( {
                    tableClass: 'table'
                } )
            }
        },
        columns: [
            { data: "name" },
            { data: "created_at" },
            { data: "" },
        ],      
        columnDefs: [
            {
                "defaultContent": "-",
                "targets": "_all"
            },
            {
                targets: 0,
                orderable: true,
                searchable: true,
                title: 'Name',
                render: function (data, type, row, meta) {
                    return '<h5><span class="badge bg-primary">' + data + '</span></h5> ';
                }
            },
            {
                targets: 1,
                orderable: true,
                searchable: true,
                title: 'Created date',
                render: function (data, type, row, meta) {
                    return data;
                }
            },
            {
                targets: -1,
                searchable: false,
                orderable: false,
                title: 'Actions',
                render: function(e, a, t, s) {
                    let url_edit = '/admin/tags/edit/' + t.id;
                    let url_delete = '/admin/tags/delete/' + t.id;
                    return '<span class="text-nowrap">'
                        +'<a href="' + url_edit + '" class="btn btn-sm btn-primary">'
                        +'<i class="bi bi-pencil"></i>'
                        +'</a>'
                        +'<button class="btn btn-sm btn-danger ms-1"'
                        +' type="button" data-bs-toggle="modal"'
                        +' data-bs-target="#modalDeleteTag" data-bs-url="'+ url_delete +'"' + ' data-bs-name="'+ t.name + '" >'
                        +'<i class="bi bi-trash"></i>'
                        +'</button>'
                        +'</span>'
                }
            },    
        ],
        dom: '<"row mx-1"<"col-sm-12 col-md-3" l><"col-sm-12 col-md-9"<"dt-action-buttons text-xl-end text-lg-start text-md-end text-start d-flex align-items-center justify-content-md-end justify-content-center flex-wrap me-1"<"me-3"f>B>>>t<"row mx-2"<"col-sm-12 col-md-6"i><"col-sm-12 col-md-6"p>>',
        buttons: [
            {
                text: 'Create tag',
                className: "btn btn-success btn-sm mb-3 mb-md-0",
                action: function (e, dt, node, config) {
                    window.location.href = '/admin/tags/create';
                }
            }
        ],
        "language": {
            "lengthMenu": 'Display _MENU_ records per page',
            "zeroRecords": 'Nothing found - sorry',
            "info": 'Showing page _PAGE_ of _PAGES_',
            "infoEmpty": 'No records available',
            "infoFiltered": 'filtered from _MAX_ total records',
            "search": 'Search:',
            "loadingRecords": 'Loading...',
            "paginate": {
                "first": 'First',
                "last": 'Last',
                "next": 'Next',
                "previous": 'Previous',
            },
        },
      });
    });
  </script>

    <script src="{{ url_for('admin.tags.static', filename='js/tags/delete_modal.js') }}"></script>

{% endblock %}