{% extends "base.html" %}

{% block navbar %}
{% include "navbar.html" %}
{% endblock %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="link-secondary" href="{{ url_for('home.home_view') }}">Home</a></li>
        <li class="breadcrumb-item"><a class="link-secondary" href="{{ url_for('account.account') }}">Account</a></li>
        <li class="breadcrumb-item active" aria-current="page">Change password</li>
    </ol>
</nav>

<h3>{% block title %} Change password {% endblock %}</h3>

<div class="card mt-3">
    <div class="row m-3">
        <form method="post">
            <fieldset>
                {{ form.csrf_token }}
                <div class="form-group">
                    {{ form.current_password.label(class="form-control-label") }}
                    {% if form.current_password.errors %}
                    {{ form.current_password(class="form-control form-control-lg is-invalid") }}
                    {% for error in form.current_password.errors %}
                    <span>{{ error }}</span>
                    {% endfor%}
                    {% else %}
                    {{ form.current_password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group mt-3">
                    {{ form.new_password.label(class="form-control-label") }}
                    {% if form.new_password.errors %}
                    {{ form.new_password(class="form-control form-control-lg is-invalid") }}
                    {% for error in form.new_password.errors %}
                    <span>{{ error }}</span>
                    {% endfor%}
                    {% else %}
                    {{ form.new_password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group mt-3">
                    {{ form.confirm_password.label(class="form-control-label") }}
                    {% if form.confirm_password.errors %}
                    {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                    {% for error in form.confirm_password.errors %}
                    <span>{{ error }}</span>
                    {% endfor%}
                    {% else %}
                    {{ form.confirm_password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="text-end">
                    <div class="form-group mt-3">
                        <a href="{{ url_for('account.account') }}" class="btn btn-secondary">Cancel</a>
                        {{ form.submit(class="btn btn-primary") }}
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    
</div>

{% endblock %}