{% extends "base.html" %}
{% import "macro_pagination.html" as widget %}

{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}

{% block title %} Mensajes {% endblock %}

{% block content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('home.home_view') }}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Mensajes</li>
        </ol>
    </nav>

    <div class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link {% if view_message == 0 %} active {% endif %}" aria-current="page" href="{{ url_for('user.show_messages_received') }}"><i class="bi bi-inbox"></i> Recibidos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if view_message == 1 %} active {% endif %}" href="{{ url_for('user.show_messages_sent') }}"><i class="bi bi-send"></i> Enviados</a>
        </li>
    </div>

    <div class="list-group mt-3">
        {% for message in messages %}
            <a href="{{ url_for('user.view_message', id=message.id) }}" class="list-group-item list-group-item-action" aria-current="true">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">
                    {% if view_message == 0 %} 
                        <img src="{{ url_for('static', filename='img/avatars/' ~ message.author.image_file) }}" class="image-posts" alt="{{ message.author.username }}" width="40"
                        height="40" >
                        {{ message.author.username }} 
                    {% else %}
                        <img src="{{ url_for('static', filename='img/avatars/' ~ message.recipient.image_file) }}" class="image-posts" alt="{{ message.recipient.username }}" width="40"
                        height="40" >
                        {{ message.recipient.username }} 
                    {% endif %}
                    {% if not message.read and view_message == 0 %}
                        <span class="badge bg-secondary">Nuevo</span>
                    {% endif %}
                </h5>
                <small>{{ moment(message.created_at).fromNow() }}</small>
            </div>
            </a>
        {% endfor %}
    </div>

    {{ widget.pagination(pagination, 'user.messages') }}

{% endblock %}
