{% extends "base.html" %}
{% import "macro_pagination.html" as widget %}

{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}

{% block title %} Mensajes {% endblock %}

{% block content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('home.home_view') }}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Mensajes</li>
        </ol>
    </nav>

    <div class="list-group mt-3">
        {% for message in rooms %}
            <a href="{{ url_for('user.show_messages_room', room_id=message.room_id) }}" class="list-group-item list-group-item-action" aria-current="true">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">
                    <img src="{{ url_for('static', filename='img/avatars/' ~ message.user.image_file) }}" class="image-posts" alt="{{ message.user.username }}" width="40"
                        height="40" >
                    {{ message.user.username }} 
                    
                </h5>
            </div>
            </a>
        {% endfor %}
    </div>

    {{ widget.pagination(pagination, 'user.show_rooms') }}


{% endblock %}
