{% extends "base.html" %}

{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}

{% block title %} User {% endblock %}

{% block content %}
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{ url_for('static', filename='img/avatars/' + user.image_file) }}" class="image-user" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ user.username }}
            {% if user != current_user and user.is_following(current_user) %}
              <span class="badge bg-primary">Te sigue</span>  
            {% endif %}
          </h5>
          <p class="card-text">{{ user.details.firstname }} {{ user.details.lastname }}</p>
          <p class="card-text"><small class="text-muted">Miembro desde: {{ moment(user.created_at).format("L") }}</small></p>
          <h6>
            Posts: <span class="badge bg-secondary">{{ user.posts.count() }}</span>
            <a class="btn btn-info btn-sm" href="{{ url_for('user.followers', username=user.username) }}" role="button">
              Seguidores 
              <span class="badge bg-secondary">{{ user.followers.count() }}</span>
            </a>
            <a class="btn btn-info btn-sm" href="{{ url_for('user.follow_by', username=user.username) }}" role="button">
              Siguiendo 
              <span class="badge bg-secondary">{{ user.followed.count() }}</span>
            </a>
          </h6>
          {% if current_user.can(Permission.FOLLOW) and user != current_user %}
            {% if current_user.is_following(user) %}
              <a href="{{ url_for('user.unfollow', username=user.username) }}" class="btn btn-secondary">No seguir</a>
            {% else %}
              <a href="{{ url_for('user.follow', username=user.username) }}" class="btn btn-primary">Seguir</a>
            {% endif %}  
          {% endif %}
          {% if current_user.is_admin() %}
            <a href="" class="btn btn-primary">Editar Admin</a>
          {% else %}
            {% if user == current_user %}
              <a href="" class="btn btn-primary">Editar User</a>
            {% endif %}
          {% endif %}
          <a href="{{ url_for('user.send_message', username=user.username) }}" class="btn btn-primary">Enviar Mensaje</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


