{% extends "base.html" %}

{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}

{% block title %} Cuenta {% endblock %}

{% block content %}

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('home.home_view') }}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Perfil</li>
            </ol>
        </nav>

        <form method="post" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset>
                <div class="form-group">
                    <img src="{{ image_url }}" alt="" style="max-height: 150px; max-width: 150px;">
                </div>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor%}
                    {% else %}
                        {{ form.email(class="form-control form-control-lg", disabled=True) }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.username.label(class="form-control-label") }}
                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor%}
                    {% else %}
                        {{ form.username(class="form-control form-control-lg", disabled=True) }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.firstname.label(class="form-control-label") }}
                    {% if form.firstname.errors %}
                        {{ form.firstname(class="form-control form-control-lg is-invalid") }}
                            {% for error in form.firstname.errors %}
                                <span>{{ error }}</span>
                            {% endfor%}
                    {% else %}
                        {{ form.firstname(class="form-control form-control-lg", disabled=True) }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.lastname.label(class="form-control-label") }}
                    {% if form.lastname.errors %}
                        {{ form.lastname(class="form-control form-control-lg is-invalid") }}
                            {% for error in form.lastname.errors %}
                                <span>{{ error }}</span>
                            {% endfor%}
                    {% else %}
                        {{ form.lastname(class="form-control form-control-lg", disabled=True) }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group mt-3">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
{% endblock %}


