{% extends "base.html" %}

{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}

{% block title %} Cuenta {% endblock %}

{% block content %}
    <div class="container">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('home.home_view') }}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ url_for('account.account') }}">Perfil</a></li>
            <li class="breadcrumb-item active" aria-current="page">Editar</li>
            </ol>
        </nav>

        <form method="post" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset>
                <div class="form-group">
                    <div class="row align-items-center">
                        <div class="col-2">
                            <img src="{{ image_url }}" alt="" style="max-height: 150px; max-width: 150px;">
                        </div>
                        <div class="col-4">     
                            <div class="form-group">
                                <!-- {{ form.picture.label(class="form-control-label") }} -->
                                {% if form.picture.errors %}
                                    {{ form.picture(class="form-control form-control is-invalid") }}
                                        {% for error in form.picture.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                {% else %}
                                    {{ form.picture(class="form-control form-control") }}
                                {% endif %}
                            </div>                        
                        </div>
                        <div class="col-6">
                            <a href="" class="btn btn-secondary" tabindex="-1" role="button" aria-disabled="true">
                                Resetear
                            </a>                        
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor%}
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.username.label(class="form-control-label") }}
                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor%}
                    {% else %}
                        {{ form.username(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.firstname.label(class="form-control-label") }}
                    {% if form.firstname.errors %}
                        {{ form.firstname(class="form-control form-control-lg is-invalid") }}
                            {% for error in form.firstname.errors %}
                                <span>{{ error }}</span>
                            {% endfor%}
                    {% else %}
                        {{ form.firstname(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.lastname.label(class="form-control-label") }}
                    {% if form.lastname.errors %}
                        {{ form.lastname(class="form-control form-control-lg is-invalid") }}
                            {% for error in form.lastname.errors %}
                                <span>{{ error }}</span>
                            {% endfor%}
                    {% else %}
                        {{ form.lastname(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group mt-3">
                {{ form.submit(class="btn btn-primary") }}
                <a href="{{ url_for('account.account') }}" class="btn btn-secondary" tabindex="-1" role="button" aria-disabled="true">
                    Cancelar
                </a>
            </div>
        </form>
    </div>
{% endblock %}