@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
  --global-body-color: #546170;
  --global-body-bg: #f5f5f5;
  --global-btn: #7db27d;
  --global-btn-p2: #529852;
  --global-btn-p3: #b27db2;

}

body {
  font-family: 'Lato', sans-serif;
  color: var(--global-body-color);
  background-color: var(--global-body-bg);
}

.btn-primary {
  background-color: var(--global-btn);
  border-color: var(--global-btn);
  box-shadow: none !important
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  background-color: var(--global-btn-p2);
  border-color: var(--global-btn-p2);
}

.form-control:focus {
  color: var(--global-btn);
  /* background-color: #fff; */
  border-color: var(--global-btn);
  /* outline: 2; */
  box-shadow: none;
}

.link-primary {
  color: var(--global-btn-p2);
}

a {
  color: var(--global-btn-p3);
  text-decoration: none;
}

a:hover {
  color: var(--global-btn-p3) !important;
}

.form-control-label {
  /* margin-bottom: 0.5rem !important; */
  font-size: 0.75rem !important;
  /* font-weight: 500 !important; */
  color: var(--global-body-color) !important;
}
