@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
  --global-body-color: #546170;
  --global-body-bg: #f5f5f5;
  --global-btn: #7db27d;
  --global-btn-p2: #529852;
  --global-btn-p3: #b27db2;
  --global-white: #ffffff;
  --global-gray: #e5e5e5;

}

body {
    font-family: 'Lato', sans-serif;
    color: var(--global-body-color);
    background-color: var(--global-body-bg);
    padding-top: 60px;
}
  
.btn-primary {
    background-color: var(--global-btn);
    border-color: var(--global-btn);
    box-shadow: none !important
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    background-color: var(--global-btn-p2);
    border-color: var(--global-btn-p2);
}

.form-control:focus {
    color: var(--global-btn);
    border-color: var(--global-btn);
    box-shadow: none;
}

.link-primary {
    color: var(--global-btn-p2);
}

a {
    color: var(--global-btn-p3);
    text-decoration: none;
}

a:hover {
    color: var(--global-btn-p3) !important;
}

.form-control-label {
    font-size: 0.75rem !important;
    color: var(--global-body-color) !important;
}


/* change the background color */
.navbar-app-green {
    background-color: var(--global-btn);
}

/* change the brand and text color */
.navbar-app-green .navbar-brand,
.navbar-app-green .navbar-text {
    color: var(--global-white);
}

/* change the link color */
.navbar-app-green .navbar-nav .nav-link {
    color: var(--global-white);
}

/* change the color of active or hovered links */
.navbar-app-green .nav-item.active .nav-link,
.navbar-app-green .nav-item:focus .nav-link,
.navbar-app-green .nav-item:hover .nav-link {
    color: var(--global-body-color);
}

/* for dropdowns only */
.navbar-app-green .navbar-nav .dropdown-menu {
    background-color: var(--global-btn);
}

/* dropdown item text color */
.navbar-app-green .navbar-nav .dropdown-item {
    color: var(--global-white);
}

/* dropdown item hover or focus */
.navbar-app-green .navbar-nav .dropdown-item:hover,
.navbar-app-green .navbar-nav .dropdown-item:focus {
    color: var(--global-white);
    background-color: var(--global-btn-p2);
}


/* Hamburger icon */
.navbar-app-green .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
  
.navbar-app-green .navbar-toggler {
    border-color: none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}


/* Image post*/
.image-posts {
    max-width: 50px;
}

/* Image user*/
.image-user {
    max-width: 100px;
}

/* Tabs */
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border-top: var(--global-white);
    border-right: var(--global-white);
    border-left: var(--global-white);
    border-bottom: 3px solid var(--global-btn);
}

.nav-link {
    color: var(--global-btn);
}

/* Small tag */
.small {
    color: var(--global-btn-p3);
}

/* Button outline */
.btn-outline-primary {
    color: var(--global-white);
    border-color: var(--global-white);
    background: transparent;
  }
  .btn-outline-primary:hover {
    color: var(--global-btn);
    background-color: var(--global-white);
    border-color: var(--global-white);
    box-shadow: 0 0.125rem 0.25rem 0 rgba(255, 255, 255, 0.4);
    transform: translateY(-1px);
  }
  .btn-check:focus + .btn-outline-primary, .btn-outline-primary:focus {
    color: var(--global-btn);
    background-color: var(--global-white);
    border-color: var(--global-white);
    box-shadow: none;
    transform: translateY(0);
  }
  .btn-check:checked + .btn-outline-primary, .btn-check:active + .btn-outline-primary, .btn-outline-primary:active, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show {
    color: var(--global-btn);
    background-color: var(--global-white);
    border-color: var(--global-white);
  }
  .btn-check:checked + .btn-outline-primary:focus, .btn-check:active + .btn-outline-primary:focus, .btn-outline-primary:active:focus, .btn-outline-primary.active:focus, .btn-outline-primary.dropdown-toggle.show:focus {
    box-shadow: none;
  }
  .btn-outline-primary.disabled, .btn-outline-primary:disabled {
    box-shadow: none;
  }
  
  .btn-outline-primary .badge {
    background: var(--global-white);
    border-color: var(--global-white);
    color: var(--global-btn);
  }
  
  .btn-outline-primary:hover .badge,
  .btn-outline-primary:focus:hover .badge,
  .btn-outline-primary:active .badge,
  .btn-outline-primary.active .badge,
  .show > .btn-outline-primary.dropdown-toggle .badge {
    background: var(--global-btn);
    border-color: var(--global-btn);
    color: var(--global-white);
  }