:root{
    --global-color-danger: #e95d35;
    --global-color-background: #EEF4F6;
}

body{
    /* min-height: 75rem; */
    padding-top: 4.5rem;
    color: var(--bs-gray-600);
    background-color: var(--global-color-background);
}

table.dataTable{
    color: var(--bs-gray-600);
}

.dropdown-item-danger:focus,.dropdown-item-danger:hover{
    color:var(--bs-white);
    background-color:var(--global-color-danger);
}

.breadcrumb a{
    color:rgba(var(--bs-body-color-rgb),.75)!important;
    text-decoration: none;
}

.breadcrumb a:hover {
    color:rgba(var(--bs-body-color-rgb),.75)!important;
    text-decoration: underline;
}