{% extends "base.html" %}
{% import "macros/macro_pagination.html" as widget %}

{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}

{% block title %} Followers {% endblock %}

{% block content %}
    <h2>Follow by {{ user.username }}</h2>
    <div class="list-group">
        {% for user in pagination %}
            <a href="{{ url_for('user.user', username=user.followed.username) }}" class="list-group-item list-group-item-action" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ user.followed.username }}</h5>
                </div>
            </a>
        {% endfor %}
    </div>

    {{ widget.pagination(pagination, 'user.follow_by', name="Follow by", username=user.username) }}

{% endblock %}


