{% extends "base.html" %}
{% from "macros/form.html" import render_field %}

{% block navbar %}
{% include "navbar.html" %}
{% endblock %}

{% block title %} Enviar Mensaje {% endblock %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="link-secondary" href="{{ url_for('home.home_view') }}">Home</a></li>
        <li class="breadcrumb-item"><a class="link-secondary" href="{{ url_for('user.show_rooms') }}">Messages</a></li>
        <li class="breadcrumb-item active" aria-current="page">Send message</li>
    </ol>
</nav>

<form method="post" action="" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <fieldset>
        <legend class="mb-4">User:
            <a class="text-body-secondary" type="button" href="{{ url_for('user.user', username=recipient.username) }}"
                role="button">
                {{ recipient.username }}
            </a>
        </legend>
        <div class="form-group mt-2">
            {{ render_field(form.message) }}
        </div>
    </fieldset>
    <div class="float-end mt-3">
        <a href="{{ url_for('user.show_rooms') }}" class="btn btn-secondary">Cancel</a>
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>

{% endblock %}