{% extends "base.html" %}

{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}

{% block title %} Enviar Mensaje {% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('home.home_view') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ url_for('user.show_rooms') }}">Mensajes</a></li>
        <li class="breadcrumb-item active" aria-current="page">Enviar mensaje Room</li>
        </ol>
    </nav>

    <form method="post" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset>
            <legend class="border-bottom mb-4">Destinatario:
                <a class="text-muted" type="button" href="{{ url_for('user.user', username=recipient.username) }}" role="button">
                    {{ recipient.username }}
                </a>
            </legend>
            <div class="form-group">
                {{ form.message.label(class="form-control-label") }}
                {% if form.message.errors %}
                    {{ form.message(class="form-control form-control-lg is-invalid") }}
                        {% for error in form.message.errors %}
                            <span>{{ error }}</span>
                        {% endfor%}
                {% else %}
                    {{ form.message(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="text-end">
            <div class="form-group mt-3">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </div>
        
    </form>
{% endblock %}