{% macro pagination(pagination, endpoint) %}

{% if pagination.pages > 1 %}
<nav aria-label="{{ kwargs.name }}" class="mt-3">
    {% set _ = kwargs.pop("name", None) %}
    <ul class="pagination justify-content-end">
        <li class="page-item {% if not pagination.has_prev %} disabled {% endif %}">
            <a class="page-link" href="{{ url_for(endpoint, page=pagination.prev_num, **kwargs) }}"
                aria-label="Previous">Previous</a>
        </li>
        {% for page in pagination.iter_pages() %}
        {% if page %}
        <li class="page-item {% if pagination.page == page %} active {% endif %}">
            <a class="page-link" href="{{ url_for(endpoint, page=page, **kwargs) }}">{{ page }}</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <span class="page-link">...</span>
        </li>
        {% endif %}
        {% endfor %}
        <li class="page-item {% if not pagination.has_next %} disabled {% endif %}">
            <a class="page-link" href="{{ url_for(endpoint, page=pagination.next_num, **kwargs) }}"
                aria-label="Next">Next</a>
        </li>
    </ul>
</nav>
{% endif %}

{% endmacro %}