{% macro print_comment(comment, post, current_user, pagination, moment) %}

<div>
    <div class="d-flex justify-content-between align-items-center">
        <small class="text-muted mb-1">
            <a class="text-muted" type="button" href="{{ url_for('user.user', username=comment.author.username) }}" role="button">
                {{ comment.author.username }}
            </a>
            {% if comment.author.username == post.author.username %}
                <span class="badge bg-success">Autor</span>
            {% endif %}
        </small>
        <span class="small text-muted mb-1"> {{ moment(comment.created_at).fromNow() }}</span>
    </div>
    <p class="small mb-0">
        {% if comment.disabled %}
            <span class="badge bg-warning">Comentario deshabilitado</span>
        {% else %}
            <p class="mb-1">{{ comment.content }}</p>
        {% endif %}
        <div class="text-muted">
            <small>

                <i class="bi bi-chat-text ms-2"></i> {{ comment.childrens|length }} Respuestas

                {% if not post.is_closed() and not post.is_disabled() %}
                <a class="text-muted ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMessage{{ comment.id }}" aria-expanded="false" aria-controls="collapseMessage">
                    <i class="bi bi-chat"></i> Responder
                </a>
                {% endif %}

                {% if comment.is_like(current_user) %}
                    <a class="text-muted ms-2" type="button" href="{{ url_for('posts.unlike_comment', id=comment.id) }}" role="button"><i class="bi bi-star-fill"></i> {{ comment.likes.count() }} Me gusta</a>
                {% else %}
                    <a class="text-muted ms-2" type="button" href="{{ url_for('posts.like_comment', id=comment.id) }}" role="button"><i class="bi bi-star"></i>  {{ comment.likes.count() }} Me gusta</a>
                {% endif %}
                
                {% if current_user.id != comment.author_id %}
                    {% if comment.is_report(current_user) %}
                        <a class="text-muted ms-2" href="{{ url_for('posts.unreport_comment', id=comment.id) }}" role="button"><i class="bi bi-flag-fill"></i> Reportar</a>
                    {% else %}
                        <a class="text-muted ms-2" href="{{ url_for('posts.report_comment', id=comment.id) }}" role="button"><i class="bi bi-flag"></i> Reportar</a>
                    {% endif %}
                {% endif %}

                {% if current_user.is_moderate() %}

                    <i class="bi bi-exclamation-triangle ms-2"></i> {{ comment.get_reports() }} Reportado

                    {% if comment.disabled %}
                        <a class="text-muted ms-2"  type="button" href="{{url_for('posts.comment_enable', id=comment.id, page=pagination.page)}}" role="button">
                            <i class="bi bi-exclamation-circle"></i> Habilitar
                        </a>
                    {% else %}
                        <a class="text-muted ms-2"  type="button" href="{{url_for('posts.comment_disable', id=comment.id, page=pagination.page)}}" role="button">
                            <i class="bi bi-exclamation-circle"></i> Deshabilitar
                        </a>
                    {% endif %}
                {% endif %}

                {% if not post.is_closed() and not post.is_disabled() %}
                <div class="collapse" id="collapseMessage{{ comment.id }}">
                    <form action="{{ url_for('posts.reply_comment', id=comment.id) }}" method="POST">
                        <div class="card-footer py-3 border-0 mt-1 bg-light" style="background-color: #f4f8fA;">
                            <div class="d-flex flex-start w-100">
                                <img class="rounded-circle shadow-1-strong me-3"
                                src="{{ url_for('static', filename='img/avatars/' ~ current_user.image_file) }}" alt="avatar" width="40"
                                height="40" />
                                <div class="form-outline w-100">
                                    <textarea class="form-control" id="textAreaMessage"  name="comment" rows="4"
                                        style="background: #fff;"></textarea>
                                    <label class="form-label" for="textAreaMessage">Mensaje</label>
                                    <div class="float-end mt-2 pt-1">
                                        <button type="submit" class="btn btn-primary btn-sm">Responder</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                {% endif %}

            </small>
        </div>
    </p>
</div>

{% endmacro %}

{% macro print_avatar_comment(comment, size) %}
<a class="me-3" href="{{ url_for('user.user', username=comment.author.username) }}">
    <img class="rounded-circle"
        src="{{ url_for('static', filename='img/avatars/' ~ comment.author.image_file) }}" alt="avatar" width="{{size}}"
        height="{{size}}" />
</a>
{% endmacro %}
