{% extends "base.html" %}
{% import "macro_comment.html" as macros %}
{% import "macro_pagination.html" as widget %}


{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}

{% block title %} Post {% endblock %}

{% block content %}
    <div class="container">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('home.home_view') }}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ url_for('posts.posts') }}">Posts</a></li>
            <li class="breadcrumb-item active" aria-current="page">Leer post</li>
            </ol>
        </nav>

        {% if post.is_closed() %}
        <div class="alert alert-danger" role="alert">
            <strong>Este post ha sido cerrado</strong>
        </div>
        {% endif %}

        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-auto">
                        <a class="me-3" href="{{ url_for('user.user', username=post.author.username) }}">
                            <img class="rounded-circle"
                                src="{{ url_for('static', filename='img/avatars/' ~ post.author.image_file) }}" alt="avatar" width="65"
                                height="65" />
                        </a>
                    </div>
                    <div class="col-sm-11">
                        <div class="row">
                            <div class="d-flex w-100 justify-content-between">
                                <small class="text-muted"> Creado por: 
                                    <a class="text-muted" type="button" href="{{ url_for('user.user', username=username) }}" role="button">
                                        {{ username }}
                                    </a>
                                </small>
                                <small>{{ moment(post.created_at).fromNow() }}</small>
                            </div>
                        </div>
                        <h5 class="mb-1">{{ post.title }}</h5>
                        <p class="mb-1">{{ post.content }}</p>
                        <div class="text-muted">
                            <small>
                                <i class="bi bi-eye"></i> {{ post.get_views() }} Visitas
                                <i class="bi bi-chat ms-2"></i> {{ post.comments.count() }} Comentarios
                                {% if post.is_like(current_user) %}
                                    <a class="text-muted ms-2 me-2" type="button" href="{{ url_for('posts.unlike_post', id=post.id) }}" role="button"><i class="bi bi-star-fill"></i> {{ post.likes.count() }} Me gusta</a>
                                {% else %}
                                    <a class="text-muted ms-2 me-2" type="button" href="{{ url_for('posts.like_post', id=post.id) }}" role="button"><i class="bi bi-star"></i>  {{ post.likes.count() }} Me gusta</a>
                                {% endif %}
                                {% if post.if_favorite(current_user) %}
                                    <a class="text-muted me-2" href="{{ url_for('posts.unfavorite_post', id=post.id) }}" role="button"><i class="bi bi-bookmark-fill"></i> Favorito</a>
                                {% else %}
                                    <a class="text-muted me-2" href="{{ url_for('posts.favorite_post', id=post.id) }}" role="button"><i class="bi bi-bookmark"></i> Favorito</a>
                                {% endif %}
                                {% if current_user != post.author %}
                                    {% if post.is_report(current_user) %}
                                        <a class="text-muted me-2" href="{{ url_for('posts.unreport_post', id=post.id) }}" role="button"><i class="bi bi-flag-fill"></i> Reportar</a>
                                    {% else %}
                                        <a class="text-muted me-2" href="{{ url_for('posts.report_post', id=post.id) }}" role="button"><i class="bi bi-flag"></i> Reportar</a>
                                    {% endif %}
                                {% endif %}
                                {% if current_user == post.author %}
                                <div class="btn-group">
                                    <button class="btn btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="bi bi-three-dots"></i>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="{{ url_for('posts.edit_post', id=post.id) }}" role="button">Editar</a></li>
                                        <li><a class="dropdown-item" href="{{ url_for('posts.delete_post', id=post.id) }}" role="button">Eliminar</a></li>
                                        {% if post.is_closed() %}
                                            <li><a class="dropdown-item" href="{{ url_for('posts.open_post', id=post.id) }}" role="button">Abrir</a></li>
                                        {% else %}
                                            <li><a class="dropdown-item" href="{{ url_for('posts.close_post', id=post.id) }}" role="button">Cerrar</a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                                {% endif %}
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% if not post.is_closed() %}
        <form method="post" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="card-footer py-3 border-0 bg-light">
                <div class="d-flex flex-start w-100">
                    <a class="me-3" href="{{ url_for('user.user', username=current_user.username) }}">
                        <img class="rounded-circle"
                            src="{{ url_for('static', filename='img/avatars/' ~ current_user.image_file) }}" alt="avatar" width="40"
                            height="40" />
                    </a>    
                    <div class="form-outline w-100">
                        <fieldset>
                            <!-- {{ form.comment.label(class="form-control-label") }} -->
                            {% if form.comment.errors %}
                                {{ form.title(class="form-control form-control-lg is-invalid") }}
                                    {% for error in form.title.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor%}
                            {% else %}
                                {{ form.comment(class="form-control form-control-lg") }}
                            {% endif %} 
                        </fieldset>
                        <div class="float-end mt-2 pt-1">
                            {{ form.submit(class="btn btn-primary btn-sm") }}
                        </div>
                    </div>
                </div>
            </div>
        </form>
        {% endif %}

        <br>
        
        {% if comments %}
            <h5><i class="bi bi-chat"></i> Comentarios</h5>

            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            {% for comment in comments %}
                                <div class="d-flex flex-start mt-2">
                                    {{ macros.print_avatar_comment(comment, 60)}}
                                    <div class="flex-grow-1 flex-shrink-1">
                                        {{ macros.print_comment(comment, post, current_user, pagination, moment) }}
                                        {% for children in comment.childrens|reverse %}
                                            <div class="d-flex flex-start mt-2">
                                                {{ macros.print_avatar_comment(children, 45)}}
                                                <div class="flex-grow-1 flex-shrink-1">
                                                    {{ macros.print_comment(children, post, current_user, pagination, moment) }}
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            {{ widget.pagination(pagination, 'posts.get_post', name="Comment list", id=post.id) }}

        {% endif %}
        

    </div>
  
{% endblock %}