{% extends "base.html" %}
{% import "macro_pagination.html" as widget %}

{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}

{% block title %} Posts {% endblock %}

{% block content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('home.home_view') }}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Posts</li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-auto me-auto">
            <div class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link {% if view_mode == 0 %} active {% endif %}" aria-current="page" href="{{ url_for('posts.show_all') }}"><i class="bi bi-clipboard2-fill"></i> Ver todos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if view_mode == 1 %} active {% endif %}" href="{{ url_for('posts.show_followed') }}"><i class="bi bi-person-plus-fill"></i> Seguidos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if view_mode == 2 %} active {% endif %}" href="{{ url_for('posts.show_favorite') }}"><i class="bi bi-bookmark-fill"></i> Favoritos</a>
                </li>
            </div>
        </div>
        <div class="col-auto">
            <div class="nav nav-pills text-right">
                <li class="nav-item">
                    <a class="nav-link active" href="{{ url_for('posts.create_post') }}"><i class="bi bi-file-earmark-fill"></i> Crear</a>
                </li>
            </div>
    </div>
    
    <div class="container">
        <div class="list-group mt-3"> 
            {% for post in posts %}
                <a href="{{ url_for('posts.get_post', id=post.id) }}" class="list-group-item list-group-item-action" aria-current="true">
                    <div class="row">
                        <div class="col-auto">
                            <img src="{{ url_for('static', filename='img/avatars/' ~ post.author.image_file) }} " class="image-posts" alt="{{ post.title }}" width="50"
                            height="50">
                        </div>
                        <div class="col-sm-11">
                            <div class="d-flex w-100 justify-content-between">
                                <div class="d-flex">
                                    <h5 class="mb-1">{{ post.title }}</h5>
                                    {% if post.is_closed() %}
                                    <h6> <span class="badge bg-danger ms-2">Cerrado</span></h6>
                                    {% endif %}
                                </div>
                                <small><i class="bi bi-clock"></i> {{ moment(post.created_at).fromNow() }}</small>
                            </div>
                            <div class="text-muted">
                                <small><i class="bi bi-chat"></i> {{ post.comments.count() }} Comentarios</small>
                                <small class="ms-2"><i class="bi bi-star"></i> {{ post.likes.count() }} Me gusta</small>
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
    
    {{ widget.pagination(pagination, 'posts.posts', name="Post list") }}

{% endblock %}