{% macro kpi(title, value, value_2, description, icon_1, icon_2) %}

<div class="col-lg-6 col-md-12 col-6 mb-4">
	<div class="card">
		<div class="card-body">
			<div class="row">
				<div class="col">
					<h5 class="card-title text-body-secondary mb-0">{{ title }}</h5>
					<span class="h2 font-weight-bold mb-0">{{ value }}</span>
				</div>
				<div class="col-auto">
					<div class="img-thumbnail bg-danger text-white">
						<i class="{{ icon_1 }}"></i>
					</div>
				</div>
			</div>
			<p class="mt-3 mb-0 text-body-secondary text-sm">
				<span class="text-success mr-2"><i class="{{ icon_2 }}"></i> {{ value_2 }}</span>
				<span class="text-nowrap">{{ description }}</span>
			</p>
		</div>
	</div>
</div>

{% endmacro %}

{% macro simple_kpi(title, value, icon) %}

<div class="col-lg-6 col-md-12 col-6 mb-4">
	<div class="card">
		<div class="card-body">
			<div class="row">
				<div class="col">
					<h5 class="card-title text-body-secondary mb-0">{{ title }}</h5>
					<span class="h2 font-weight-bold mb-0">{{ value }}</span>
				</div>
				<div class="col-auto">
					<div class="img-thumbnail bg-danger text-white">
						<i class="{{ icon }}"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endmacro %}