{% extends "base.html" %}
{% import "posts/macro_comment.html" as macros %}
{% import "macros/macro_pagination.html" as widget %}
{% import "macros/macro_modal.html" as modals %}


{% block navbar %}
{% include "navbar.html" %}
{% endblock %}

{% block title %} Post {% endblock %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="link-secondary" href="{{ url_for('home.home_view') }}">Home</a></li>
        <li class="breadcrumb-item"><a class="link-secondary" href="{{ url_for('posts.posts') }}">Posts</a></li>
        <li class="breadcrumb-item active" aria-current="page">Read post</li>
    </ol>
</nav>

{% if post.is_closed() %}
<div class="alert alert-danger" role="alert">
    Post closed
</div>
{% endif %}

{% if post.is_disabled() %}
<div class="alert alert-warning" role="alert">
    This post has been disabled due to a violation of our forum rules
</div>
{% endif %}

<div class="card">
    <div class="d-flex flex-start w-100">
        <a class="mt-3 ms-3" href="{{ url_for('user.user', username=post.author.username) }}">
            <img class="rounded-circle" src="{{ url_for('static', filename='img/avatars/' ~ post.author.image_file) }}"
                alt="avatar" width="40" height="40" data-toggle="tooltip" data-placement="top" title="{{ username }}" />
        </a>
        <div class="card-body">
            <div class="row">
                <div class="d-flex justify-content-between">
                    <small class="text-body-secondary mb-1">
                        <a class="text-body-secondary text-decoration-none" type="button"
                            href="{{ url_for('user.user', username=username) }}" role="button">
                            {{ username }}
                        </a>
                        <span class="badge bg-success">Author</span>
                    </small>
                    <small class="text-body-secondary mb-1">
                        <i class="bi bi-clock"></i>
                        {{moment(post.created_at).fromNow()}}
                    </small>
                </div>
            </div>
            <h5 class="mb-1">{{ post.title }}</h5>
            <p class="mb-1">{{ post.content }}</p>
            <div id="actions" class="d-flex flex-row align-items-center">
                <div id="visits-section" class="d-flex small text-body-secondary">
                    <i class="bi bi-eye me-1"></i> {{ post.get_views() }}
                    <span class="d-none d-md-block ms-1">Visits</span>
                </div>
                <div id="comments-section" class="d-flex small text-body-secondary ms-2">
                    <i class="bi bi-chat me-1"></i>
                    {{ post.comments.count() }}
                    <span class="d-none d-md-block ms-1">Comments</span>
                </div>
                <div id="likes-section" class="d-flex small text-body-secondary">
                    <button class="d-flex btn btn-sm border-0 pe-0 shadow-none text-body-secondary" id="likes-btn"
                        value="{{post.id}}" onclick="likePost(this.value)">
                        {% if post.is_like(current_user) %}
                        <i class="bi bi-star-fill" id="likes-icon"></i>
                        {% else %}
                        <i class="bi bi-star" id="likes-icon"></i>
                        {% endif %}
                        <span id="likes-counts" class="ms-1">{{ post.likes.count() }}</span>
                        <span class="d-none d-md-block ms-1">Likes</span>
                    </button>
                </div>
                <span id="favs-section" class="d-flex small text-body-secondary">
                    <button class="d-flex btn btn-sm border-0 pe-0 shadow-none text-body-secondary" id="favs-btn"
                        value="{{post.id}}" onclick="favoritePost(this.value)">
                        {% if post.is_favorite(current_user) %}
                        <i class="bi bi-bookmark-fill" id="favs-icon"></i>
                        {% else %}
                        <i class="bi bi-bookmark" id="favs-icon"></i>
                        {% endif %}
                        <span class="d-none d-md-block ms-1">Favorities</span>
                    </button>
                </span>
                {% if current_user != post.author %}
                <span id="report-post-section" class="d-flex small text-body-secondary">
                    <button class="d-flex btn btn-sm border-0 pe-0 shadow-none text-body-secondary" id="report-post-btn"
                        value="{{post.id}}" onclick="reportPost(this.value)">
                        {% if post.is_report(current_user) %}
                        <i class="bi bi-flag-fill" id="report-post-icon"></i>
                        {% else %}
                        <i class="bi bi-flag" id="report-post-icon"></i>
                        {% endif %}
                        <span class="d-none d-md-block ms-1">Report</span>
                    </button>
                </span>
                {% endif %}
                {% if current_user == post.author or current_user.is_admin() %}
                <div>
                    <button class="btn btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-three-dots"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="{{ url_for('posts.edit_post', post_id=post.id) }}"
                                role="button">
                                <i class="bi bi-pencil"></i>
                                Edit
                            </a>
                        </li>
                        {% if post.is_closed() %}
                        <li>
                            <a class="dropdown-item dropdown-item-success"
                                href="{{ url_for('posts.open_post', id=post.id) }}" role="button">
                                <i class="bi bi-door-open"></i>
                                Open
                            </a>
                        </li>
                        {% else %}
                        <li>
                            <a class="dropdown-item dropdown-item-warning"
                                href="{{ url_for('posts.close_post', id=post.id) }}" role="button">
                                <i class="bi bi-x-circle"></i>
                                Close
                            </a>
                        </li>
                        {% endif %}
                        {% if current_user.is_admin() %}
                        {% if post.disabled %}
                        <li>
                            <a class="dropdown-item"
                                href="{{url_for('posts.post_enable', id=post.id, page=pagination.page)}}" role="button">
                                <i class="bi bi-exclamation-circle"></i>
                                Enable
                            </a>
                        </li>
                        {% else %}
                        <li> <a class="dropdown-item"
                                href="{{url_for('posts.post_disable', id=post.id, page=pagination.page)}}"
                                role="button">
                                <i class="bi bi-exclamation-circle"></i>
                                Disable
                            </a>
                        </li>
                        {% endif %}
                        {% endif %}
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item dropdown-item-danger" data-bs-toggle="modal"
                                data-bs-target="#modalDeletePost" role="button"
                                data-bs-url="{{ url_for('posts.delete_post', id=post.id) }}">
                                <i class="bi bi-trash"></i>
                                Eliminar
                            </a>
                        </li>
                    </ul>
                </div>
                {% endif %}
            </div>
            <div class="d-flex text-body-secondary small mt-1">
                {% for post_tag in post.tags %}
                {% if loop.index == 1 %}
                <i class="bi bi-tag"></i>
                <span class="d-none d-md-block">Tags:</span>
                {% endif %}
                <span class="badge text-bg-secondary ms-1">{{ post_tag.tag.name }}</span>
                {% endfor %}
            </div>
        </div>
    </div>

    {% if not post.is_closed() and not post.is_disabled() %}
    <form method="post" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="card-footer py-3 border-0">
            <div class="d-flex flex-start w-100">
                <a class="me-3" href="{{ url_for('user.user', username=current_user.username) }}">
                    <img class="rounded-circle"
                        src="{{ url_for('static', filename='img/avatars/' ~ current_user.image_file) }}" alt="avatar"
                        width="40" height="40" data-toggle="tooltip" data-placement="top" title="{{ username }}" />
                </a>
                <div class="form-outline w-100 me-3">
                    <fieldset>
                        {% if form.comment.errors %}
                        {{ form.title(class="form-control form-control-lg is-invalid") }}
                        {% for error in form.title.errors %}
                        <span>{{ error }}</span>
                        {% endfor%}
                        {% else %}
                        {{ form.comment(class="form-control form-control-lg") }}
                        {% endif %}
                    </fieldset>
                    <div class="float-end mt-2 pt-1">
                        {{ form.submit(class="btn btn-primary btn-sm") }}
                    </div>
                </div>
            </div>
        </div>
    </form>
    {% endif %}
</div>

<br>

{% if pagination.items %}
<div class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page"><i class="bi bi-chat-fill"></i> Comments</a>
    </li>
</div>
<div class="card mt-3">
    <div class="card-body">
        <div class="row">
            <div class="col">
                {% for comment in pagination %}
                <div class="d-flex flex-start mt-2">
                    {{ macros.print_avatar_comment(comment, 40)}}
                    <div class="flex-grow-1 flex-shrink-1">
                        {{ macros.print_comment(comment, post, current_user, pagination, moment) }}
                        {% for children in comment.childrens|reverse %}
                        <div class="d-flex flex-start mt-2">
                            {{ macros.print_avatar_comment(children, 35)}}
                            <div class="flex-grow-1 flex-shrink-1">
                                {{ macros.print_comment(children, post, current_user, pagination, moment) }}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{{ widget.pagination(pagination, 'posts.get_post', name="Comment list", id=post.id) }}
{% endif %}

{{ modals.confirm_delete_post(post.id) }}

{% endblock %}

{% block scripts %}
<script src="{{ url_for('posts.static', filename='js/post.js') }}"></script>
{% endblock %}