{% extends "base.html" %}
{% import "macros/macro_pagination.html" as widget %}

{% block navbar %}
{% include "navbar.html" %}
{% endblock %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('home.home_view') }}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Posts</li>
    </ol>
</nav>

<h3>{% block title %} Posts {% endblock %}</h3>

<div class="row">
    <div class="col-auto me-auto mt-3">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link {%- if view_mode == 0 %} active {%- endif %}" {% if view_mode==0 %}
                    aria-current="page" {% endif %} href="{{ url_for('posts.show_all') }}"><i
                        class="bi bi-clipboard2-fill"></i> All</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {%- if view_mode == 1 %} active {%- endif %}" {% if view_mode==1 %}
                    aria-current="page" {% endif %} href="{{ url_for('posts.show_followed') }}"><i
                        class="bi bi-person-plus-fill"></i> Followed</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {%- if view_mode == 2 %} active {%- endif %}" {% if view_mode==2 %}
                    aria-current="page" {% endif %} href="{{ url_for('posts.show_favorite') }}"><i
                        class="bi bi-bookmark-fill"></i> Favorities</a>
            </li>
        </ul>
    </div>
    <div class="col-auto mt-3">
        <ul class="nav nav-pills text-right">
            <li class="nav-item">
                <a class="nav-link active" href="{{ url_for('posts.create_post') }}"><i
                        class="bi bi-file-earmark-fill"></i> Create</a>
            </li>
        </ul>
    </div>
</div>

<div class="list-group mt-3">
    {% for post in pagination %}
    <a href="{{ url_for('posts.get_post', id=post.id) }}" class="list-group-item list-group-item-action">
        <div class="row">
            <div class="col-auto">
                <img src="{{ url_for('static', filename='img/avatars/' ~ post.author.image_file) }} "
                    class="d-none d-sm-block d-sm-none d-md-block" alt="avatar" width="50" height="50">
            </div>
            <div class="col-10">
                <div class="row">
                    <div class="col-auto">
                        <div class="d-flex align-items-center">
                            <h5 class="text-truncate">{{ post.title }}</h5>
                            {% if post.is_closed() %}
                            <h6><span class="badge text-bg-danger ms-2">Closed</span></h6>
                            {% endif %}
                        </div>
                        <span class="small text-body-secondary"><i class="bi bi-chat"></i> {{ post.comments.count() }}
                            Comments</span>
                        <span class="small text-body-secondary ms-2"><i class="bi bi-star"></i> {{ post.likes.count() }}
                            Likes</span>
                    </div>
                    <div class="col-auto">
                        <div class="small text-body-secondary">
                            <i class="bi bi-clock"></i> {{ moment(post.created_at).fromNow() }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>
    {% endfor %}
</div>

{{ widget.pagination(pagination, 'posts.posts', name="Post list") }}

{% endblock %}