{% extends "base.html" %}
{% import "macro_pagination.html" as widget %}
{% import "macro_modal.html" as modals %}
{% import "macro_table.html" as table %}

{% block head %}
    {{ table.table_import_head() }}
{% endblock %}

{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}

{% block content %}

    <div class="container">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{{ url_for('home.home_view') }}">Home</a></li>
              <li class="breadcrumb-item"><a href="{{ url_for('admin.admin_view') }}">Admin</a></li>
              <li class="breadcrumb-item active" aria-current="page">Users</li>
            </ol>
        </nav>

        <h3>{% block title %} User List {% endblock %}</h3>

        <div class="card mt-3 shadow-sm">
            <div class="card-body">
                <table id="data" class="table dt-responsive nowrap" style="width:100%">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Confirmed</th>
                            <th>Created date</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {{ modals.confirm_delete_user() }}

{% endblock %}


{% block scripts %}

  {{ table.table_import_scripts() }}

  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        ajax: '/admin/users/get_data',
        serverSide: true,
        responsive: {
            details: {
                display: $.fn.dataTable.Responsive.display.modal( {
                    header: function ( row ) {
                        var data = row.data();
                        return 'User detail: ' + data.username;
                    }
                } ),
                renderer: $.fn.dataTable.Responsive.renderer.tableAll( {
                    tableClass: 'table'
                } )
            }
        },
        columns: [
            { data: "username" },
            { data: "email" },
            { data: "confirmed" },
            { data: "created_at" },
            { data: "" },
        ],      
        columnDefs: [
            {
                "defaultContent": "-",
                "targets": "_all"
            },
            {
                targets: 0,
                orderable: true,
                searchable: true,
                title: 'Username',
                render: function (data, type, row, meta) {
                    return '<h5><a href="/user/' + row.username + '"><span class="badge bg-primary">' + data + '</span></a></h5> ';
                }
            },
            {
                targets: 1,
                orderable: true,
                searchable: true,
                title: 'Email',
                render: function (data, type, row, meta) {
                    return data;
                }
            },
            {
                targets: 2,
                orderable: true,
                searchable: true,
                title: 'Confirmed',
                render: function (data, type, row, meta) {
                    if(data) {
                        return '<h5><span class="badge bg-success">' + data + '</span></h5> ';
                    } else {
                        return '<h5><span class="badge bg-danger">' + data + '</span></h5> ';
                    }
                    
                }
            },
            {
                targets: 3,
                orderable: true,
                searchable: true,
                title: 'Created date',
                render: function (data, type, row, meta) {
                    return data;
                }
            },
            {
                targets: -1,
                searchable: false,
                orderable: false,
                title: 'Actions',
                render: function(e, a, t, s) {
                    let url_edit = '/admin/users/edit/' + t.id;
                    let url_delete = '/admin/users/delete/' + t.id;
                    return '<span class="text-nowrap">'
                        +'<a href="' + url_edit + '" class="btn btn-sm btn-primary">'
                        +'<i class="bi bi-pencil"></i>'
                        +'</a>'
                        +'<button class="btn btn-sm btn-danger ms-1"'
                        +' type="button" data-bs-toggle="modal"'
                        +' data-bs-target="#modalDeleteUser" data-bs-url="'+ url_delete +'"' + ' data-bs-name="'+ t.id + '" >'
                        +'<i class="bi bi-trash"></i>'
                        +'</button>'
                        +'</span>'
                }
            },    
        ],
        dom: '<"row mx-1"<"col-sm-12 col-md-3" l><"col-sm-12 col-md-9"<"dt-action-buttons text-xl-end text-lg-start text-md-end text-start d-flex align-items-center justify-content-md-end justify-content-center flex-wrap me-1"<"me-3"f>B>>>t<"row mx-2"<"col-sm-12 col-md-6"i><"col-sm-12 col-md-6"p>>',
        buttons: [
            {
                text: 'Create user',
                className: "btn btn-success btn-sm mb-3 mb-md-0",
                action: function (e, dt, node, config) {
                    window.location.href = '/admin/users/create';
                }
            }
        ],
        "language": {
            "lengthMenu": 'Display _MENU_ records per page',
            "zeroRecords": 'Nothing found - sorry',
            "info": 'Showing page _PAGE_ of _PAGES_',
            "infoEmpty": 'No records available',
            "infoFiltered": 'filtered from _MAX_ total records',
            "search": 'Search:',
            "loadingRecords": 'Loading...',
            "paginate": {
                "first": 'First',
                "last": 'Last',
                "next": 'Next',
                "previous": 'Previous',
            },
        },
      });
    });
  </script>

    <script src="{{ url_for('admin.users.static', filename='js/users/delete_modal.js') }}"></script>

{% endblock %}