{% macro confirm_delete_post(post_id) %}

<div class="modal fade" id="confirmDeletePostModal" tabindex="-1" aria-labelledby="deletePost" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleDeletePostModal">Eliminar post</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Una vez eliminado el post no se podrá recuperar.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <a class="btn btn-primary" href="{{ url_for('posts.delete_post', id=post_id) }}" role="button">Eliminar</a>
            </div>
        </div>
    </div>
</div>

{% endmacro %}
