{% extends "base.html" %}
{% import "macro_kpi.html" as graph %}


{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}

{% block title %} Moderar Post {% endblock %}

{% block content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('home.home_view') }}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Moderar</li>
        </ol>
    </nav>

    <div class="col-12 col-sm-6 col-xl-4 mb-4">
        <div class="row">
            {{ graph.simple_kpi("Comentarios", 123, "bi bi-bar-chart-fill") }}
            {{ graph.kpi("Post", 123, 405, "Ultimo mes", "bi bi-bar-chart-fill", "bi bi-arrow-up-square-fill") }}
        </div>
    </div>

{% endblock %}