<nav class="navbar navbar-expand-lg navbar-app-green fixed-top">
  <div class="container-xl">
      <a class="navbar-brand" href="#"><i class="bi bi-stack"></i> Navbar</a>
      
      <button class="navbar-toggler navbar-app-green" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ url_for('home.home_view') }}">
              <i class="bi bi-house"></i> Home
            </a>
          </li>
          {% if current_user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ url_for('posts.posts') }}">
                <i class="bi bi-stickies"></i> Posts
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ url_for('user.messages') }}">
                <i class="bi bi-chat"></i> Mensajes 
                {% set count_messages = current_user.new_messages() %}
                <span id="messages_unread" class="badge bg-secondary">{{ count_messages if count_messages else "" }}</span>
              </a>
            </li>

            {% if current_user.is_moderate() %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ url_for('posts.moderate_comment') }}">
                <i class="bi bi-shield"></i> Moderate
              </a>
            {% endif %}
          {% endif %}
          
        </ul>

        

        <ul class="navbar-nav justify-content-end">
          {% if current_user.is_authenticated %}
            <div class="dropdown text-end">
              <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="{{ url_for('static', filename='img/avatars/' ~ current_user.image_file) }}" alt="mdo" width="32" height="32" class="rounded-circle">
              </a>
              <ul class="dropdown-menu" aria-labelledby="dropdownUser">
                <li>
                  <a class="nav-link active" aria-current="page" href="{{ url_for('account.account') }}">
                    <i class="bi bi-person"></i> Perfil
                  </a>
                </li>
                <li>
                  <a class="nav-link active" aria-current="page" href="{{ url_for('account.account') }}">
                    <i class="bi bi-gear"></i> Configuración
                  </a>
                </li>
                <li>
                  <a class="nav-link" href="{{ url_for('about.about_view') }}">
                    <i class="bi bi-info-circle"></i> About
                  </a>
                </li>               
                <li>
                  <a class="nav-link active" aria-current="page" href="{{ url_for('auth.logout') }}">
                    <i class="bi bi-box-arrow-right"></i> Logout
                  </a>
                </li>
              </ul>
            </div>
          {% else %}
            <li class="nav-item">
              <a class="btn btn-secondary me-1" aria-current="page" href="{{ url_for('auth.register') }}">Sign Up</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-outline-primary me-1" href="{{ url_for('auth.login') }}">Login</a>
            </li>
          {% endif %}
        </ul>
      </div>
    
      

    </div>
  </nav>